# ============================================
# PixelSyncBox
# ============================================

# Database
database/*.db

# Logs
logs/*
!logs/.gitkeep

# Test Media
tests/sample_media/
testfile/

# Python
__pycache__/
*.py[cod]

# Backup files
*.bak

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Virtual Environment
.venv/
venv/
env/

# Temporary files
*.tmp
*.swp

# UI Dump
ui.xml
